.cards {
    padding-bottom: 65px;
    @include container;
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    padding: 38px 0 33px 34px;
    flex: 1 1 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(143, 149, 172, 0.15);
    border-radius: 5px;
    transition: box-shadow .4s ease;
    cursor: pointer;

    &__title {
        margin-bottom: 4px;
        @include H2;
        font-weight: 700;
        color: $black-light;
    }

    span {
        @include BigText;
        font-weight: 300;
        color: #000000;
    }

    &:hover {
        box-shadow: 0px 0px 20px rgba(143, 149, 172, 0.4);
    }
}