.cards {
    @include container;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
    padding-bottom: 23px;

    @include small-desktop {
        padding-bottom: 45px;
        gap: 21.86px;
        flex-wrap: nowrap;
    }
    @include medium-desktop {
        padding-bottom: 65px;
        gap: 30px;
    }
    
}

.card {
    padding: 27px 0 25px 21px;
    flex: 1 1;

    @include tablet {
        flex: 0 1 188px;
    }
    
    @include small-desktop {
        padding: 28.8px 0 29px 25px;
        flex: 1 1 182px;
    }
    
    @include medium-desktop {
        padding: 38px 0 33px 34px;
        flex: 1 1 220px;
    }
    
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(143, 149, 172, 0.15);
    border-radius: 5px;
    transition: box-shadow .4s ease;
    cursor: pointer;

    &__title {
        margin-bottom: 4px;
        @include H2;
        font-weight: 700;
        color: $black-light;
    }

    span {
        @include BigText;
        font-weight: 300;
        color: #000000;
    }

    &:hover {
        box-shadow: 0px 0px 20px rgba(143, 149, 172, 0.4);
    }
}