.footer {
    @include container;

    &__btn {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 15px;
        @include Text;
        color: $black-light;
        cursor: pointer;
    }

    &__wrapper-btn {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid rgba($gray-light, 0.2);
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        padding: 24px 0 43px;

        @include small-desktop {
            padding: 33px 0 90px;
        }
        
    }

    &__address {
        @include Text;
        max-width: 196px;
        margin-right: 11px;

        @include small-desktop {
            max-width: 286px;
            margin-right: 108px;
        }
        @include medium-desktop {
            margin-right: 214px;
        }     
    }

    &__number {
        margin-right: auto;
        @include H3;
        color: $black-light;
    }

    &__link {
        @include Text;
        font-weight: 400;
        color: $red;
        border-bottom: 1px solid $red;
    }
}