.btn {
  color: #fff;
  background: $red;
  padding: 19px 26px 21px 26px;
  border-radius: 100px;
  @include H5;
  text-align: center;

  &:hover {
    box-shadow: 0px 10px 20px rgba($red, 0.3);
    border-radius: 32.5px;
  }
}

.header {
  display: flex;
  align-items: center;

  background: $black-light;

  padding: 15px 65px;

  &__logo {
    width: 74px;
    margin-right: 155px;
  }

  &__btn {
    margin-left: auto;
    width: 144px;
    padding: 14px 11px 16px;
  }
}

.nav {
  display: flex;
  align-items: center;
  & > * + * {
    margin-left: 75px;
  }

  &__link {
    position: relative;
    color: #fff;
    padding: 10px 21px;
    border-radius: 100px;
    @include H5;
    cursor: pointer;

    &:hover {
      background: rgba($gray-light, 20%);
    }

    &.active,
    &:active {
      background: $red;
    }
  }

  &__sublink {
    display: flex;
    align-items: start;

    &:nth-child(1) {
      &::after {
        display: none;
      }
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
    &:nth-child(odd) {
      margin-right: 50px;
      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 66px);
        margin-top: -10px;
        left: 33px;

        height: 0.5px;
        background: $gray-light;
      }
    }

    &-icon {
      margin-top: 4px;
      margin-right: 10px;
    }

    &-title {
      @include H5;
      color: #fff;
    }

    &-desc {
      @include Text;
      color: $gray-light;
    }

    &-list {
      position: absolute;
      background: $black-light;
      padding: 23px 33px;
      width: 535px;
      top: 160%;
      left: 0;
      border-radius: 9px;

      display: none;
      flex-wrap: wrap;

      .nav > .active & {
        display: flex;
      }
    }
  }
}
