.hero {
  @include container;
  background: $black-dark;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    max-width: 720px;
    margin-top: 150px;
    margin-bottom: 134px;
  }

  &__title {
    @include H1;
    font-weight: 700;
    max-width: 597px;
    margin-bottom: 47px;
  }

  &__image {
    margin-top: -62px;
  }
}

.form {
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    & > * + * {
      margin-left: 30px;
    }

    &:nth-child(2) {
      input {
        padding-left: 42px;
        padding-right: 42px;
      }
    } 
  }

  &__group {
    width: 100%;
  }

  &__group label {
    @include Font(14px, 25px);
    color: $gray-light;
    display: block;
    margin-bottom: 6px;
  }

  &__accept {
    display: flex;
    @include Text;
    color: $gray-light;

    .checkbox {
      margin-right: 20px;
    }

    a {
      color: $red;
    }
  }
}
