$mobile-width: 360px;
$tablet-width: 768px;
$small-desktop-width: 1100px;
$medium-desktop-width: 1282px;
$big-desktop-width: 1920px;

@mixin mobile {
  @media screen and (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media screen and (min-width: #{$small-desktop-width}) {
    @content;
  }
}

@mixin medium-desktop {
  @media screen and (min-width: #{$medium-desktop-width}) {
    @content;
  }
}

@mixin big-desktop {
  @media screen and (min-width: #{$big-desktop-width}) {
    @content;
  }
}
