// Utils
@import "./utils/reset";
@import "./utils/fonts";
@import "./utils/colors";
@import "./utils/media";
@import "./utils/typography";

@mixin container {
  padding-left: 10.67vw;
  padding-right: 10.67vw;

  @include small-desktop {
    padding-left: 11.09vw;
    padding-right: 11.09vw;
  }

  @include medium-desktop {
    padding-left: calc((100vw - 1220px) / 2);
    padding-right: calc((100vw - 1220px) / 2);
  }
}

// Components
@import "./components/index.scss";

html {
  scroll-behavior: smooth;
}

body {
  @include Text;
}
